<section class='links'>
  <div>

    <h2>Link Pileup</h2>

    <h3>Web UI Frameworks</h3>
    <a href='http://getbootstrap.com/'>http://getbootstrap.com/</a>
    <a href='http://semantic-ui.com/'>http://semantic-ui.com/</a>
    <a href='http://d3js.org/'>http://d3js.org/</a>

    <h3>Web Animation</h3>
    <a href='http://daniel-lundin.github.io/snabbt.js/'>http://daniel-lundin.github.io/snabbt.js/</a>
    <a href='http://tympanus.net/Tutorials/CaptionHoverEffects/index2.html'>http://tympanus.net/Tutorials/CaptionHoverEffects/index2.html</a>
    <a href='http://tympanus.net/Development/ModalWindowEffects/'>http://tympanus.net/Development/ModalWindowEffects/</a>
    <a href='http://tympanus.net/Development/IconHoverEffects/'>http://tympanus.net/Development/IconHoverEffects/</a>
    <a href='http://tympanus.net/Tutorials/NaturalLanguageForm/'>http://tympanus.net/Tutorials/NaturalLanguageForm/</a>
    <a href='http://www.minimamente.com/example/magic_animations/'>http://www.minimamente.com/example/magic_animations/</a>

    <h3>User Research &amp; Product Management Articles</h3>
    <a href='http://alistapart.com/column/managing-feature-requests'>http://alistapart.com/column/managing-feature-requests</a>
    <a href='https://www.gv.com/lib/8-shortcuts-for-better-faster-design-research'>https://www.gv.com/lib/8-shortcuts-for-better-faster-design-research</a>
    <a href='https://www.gv.com/lib/is-it-a-good-idea-to-test-my-product-with-friends-and-family'>https://www.gv.com/lib/is-it-a-good-idea-to-test-my-product-with-friends-and-family</a>
    <a href='https://www.gv.com/lib/how-to-choose-the-right-ux-metrics-for-your-product'>https://www.gv.com/lib/how-to-choose-the-right-ux-metrics-for-your-product</a>
    <a href='https://www.gv.com/lib/how-to-prioritize-customer-research-when-everything-is-a-priority'>https://www.gv.com/lib/how-to-prioritize-customer-research-when-everything-is-a-priority</a>


    <h3>Other Articles</h3>
    <a href='http://www.nytimes.com/2013/10/06/magazine/and-then-steve-said-let-there-be-an-iphone.html?_r=0'>http://www.nytimes.com/2013/10/06/magazine/and-then-steve-said-let-there-be-an-iphone.html?_r=0</a>
    <a href='http://www.fastcodesign.com/3017083/apples-skankphone-was-the-iphones-ugly-twin-brother'>http://www.fastcodesign.com/3017083/apples-skankphone-was-the-iphones-ugly-twin-brother</a>
    

  </div>
</section>