<section>
  <div>
    Web UI Frameworks
    http://getbootstrap.com/
    http://semantic-ui.com/

    Apple's Technical POC Heart Attack
    http://www.nytimes.com/2013/10/06/magazine/and-then-steve-said-let-there-be-an-iphone.html?_r=0
    'practicing for 5 days rarely saw steve jobs go through the presentation without a glitch'
    'at&t brought in a portable cell tower'
    http://www.fastcodesign.com/3017083/apples-skankphone-was-the-iphones-ugly-twin-brother
    

    http://ui-animations.tumblr.com/
  
    Animations
    http://daniel-lundin.github.io/snabbt.js/
    http://tympanus.net/Tutorials/CaptionHoverEffects/index2.html
    http://tympanus.net/Development/ModalWindowEffects/
    http://tympanus.net/Development/IconHoverEffects/
    http://tympanus.net/Tutorials/NaturalLanguageForm/
    http://www.minimamente.com/example/magic_animations/
  </div>
</section>