<section>
  <div>
    <h1>Motion Studies</h1>
    <img src='img/clear-ui.gif'/>
    <img src='img/android-motion-study.gif'/>
    <img src='img/osx-motion-study.gif'/>
    <img src='img/menu-motion-study.gif'/>
  </div>
</section>