<section class='minor'>
  <div>
    <article>
      <h1>When you want to explore transitions or animations</h1>
      <h2>Motion Studies</h2>
    </article>
  </div>
</section>

<section>
  <div>
    <img src='img/clear-ui.gif'/>
    <img src='img/android-motion-study.gif'/>
    <img src='img/osx-motion-study.gif'/>
    <img src='img/menu-motion-study.gif'/>
    <img src='img/weather-motion.gif'/>
    <img src='img/map-motion.gif'/>
    <img src='img/phone-motion.gif'/>
  </div>

</section>